<div class="header">

	<h1 class="mooch">On the House</h1>
	<h3 class="below">Freedom Awaits. Login Today</h3>

</div>

<%= form_tag '/login', method: :post do %>

	<div class="enter">
		<p class="info">
			<%= email_field_tag :email, nil, placeholder: "Email", class: "data" %>
		</p>

		<p class="info">
			<%= password_field_tag :password, nil, placeholder: "Password", class: "data" %>
		</p>

		<p class="info">
			<%= submit_tag :Login, class: "button" %>
		</p>
	</div>

<% end %>

