	<div class="wrapper">
		<nav class="navi">
			<p>

				<% if current_user %>
					<%= link_to 'Home', events_path(current_user) %>
					<%= link_to 'Post Your Event', new_event_path %>
					
					<%= link_to 'Logout', logout_path, method: :delete %>
				<% else %>
					<%= link_to 'Login', login_path %>
				<% end %>

			</p>
		</nav>
	</div>