<div class="header">

	<h1 class="mooch">On The House</h1>
	<h3 class="below">Upcoming Events</h3>
	
</div>

<!-- all events from all users -->
<div class="list">
	<ul class="events-all">
		<% current_user.events.each do |event| %>

			<li><%= link_to event.title, event_path(event.id) %></li>	

		<%end%>

	</ul>
</div>


